.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid wheat;
    height:500px;
    box-shadow: 40px -1;
    width: 400px;
}

#kamlesh{
       height: 250px;
       width: 250px;
       border-radius: 50%;
}

#meting{
     
      display: flex;
      justify-content: center;
      gap: 10px;
}

#computer{
    color: blue;
}