.school{
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;    /* Center content vertically */
  background-image: url("/xyx.png");
   background-image: url("/img1.jpg"); 
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 80vh; /* Set a height (e.g., full viewport) */
  width: 100%; /* Full width */
  flex-direction: column;
  gap: 60px;
}
.combo{
    display: flex;
    gap: 20px;
}

#center-btn{
      display: flex;
      justify-content: center;
}
#explore{
       background-color: white;
       color: blue;
       border: 1px solid blue;
}

.common{
     color: white;
}

.container{

       height: 300px;
       width: 100%;
       padding: 30px;
       display: flex;
       justify-content: space-around;
       justify-content: center;
       align-items: center;
}
.dev{
      
  height: 300px;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  background-image: url("/img5.png");
  background-repeat: no-repeat;
}